// ===========GENERAL===========

body {
    margin: 0 auto;
    font-family: $font-default;
    color: $fcolor-dark;
}

* {
    box-sizing: border-box;
}


// ===========LIENS===========


a {
    text-decoration: none;
    list-style: none;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    align-items: center;
}

tr, th, td {
    min-width: 50px;
    padding: 30px;
    }

tr {
    align-items: center;
    justify-content: center;
}

// ===========LOGO / ICONES / IMAGES===========

img {
    display: block;
    max-width: 100%;
}

// ===========MISE EN PAGE===========
.display-flex {
    display: flex;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3,
a {
    padding: .5em;
    margin: 0 auto;
}

h1,
h2 {
    text-align: center;
}

h1 {
    font-family: $font-title;
    font-size: $fsize-title;
    font-weight: bold;
    padding-bottom: 30px;

}

h2 {
    font-family: $font-subtitle;
    font-size: $fize-subtitle;
}

.bold {
    font-weight: bold;
}

.underline {
    border-bottom: $light-orange solid 5px;
}

.asterisque {
    font-style : italic; 
    font-size: $fsize-small;
}

// ===========BUTTONS===========

.btn-fb {
    color: #ffffff;
    @include button($bg-color-fb, $fsize-default);

}

.btn {
    color: #000000;
    @include button($bg-color-btn, $fsize-default);
}


// ===========SOCIAL NETWORK===========