// ==========MEDIAQUERIES==========

$bp-small: 375px;
$bp-medium: 768px;
$bp-large: 960px;

// ==========TYPOS==========


$font-default: 'Helvetica Neue',
Arial;
$font-title: 'Amatic SC',
'Helvetica Neue';
$font-subtitle: 'Annie Use Your Telescope',
'Helvetica Neue';
$font-card: 'Fjalla One', sans-serif;
$font-color: #000000;

$fsize-title: 2em;
$fsize-nav: 1.56em;
$fize-subtitle: 1.2rem;
$fsize-default: 1rem;
$fsize-small: 0.75rem;

$fcolor-light: #FFFFFF;
$fcolor-dark: #000000;

$bold: bold;

// ==========COULEURS CHARTE GRAPHIQUE==========

$black: #000000;
$dark-gray: #666;
$medium-gray: #707070;
$light-gray: #D1CBCB;
$white: #fff;
$beige: #FFEDD8;

$yellow:#F6AE2D;
$light-orange: #FF911A;
$medium-orange: #F26419;

$light-green: #B0C4B1;
$dark-green: #273C2C;

$blue: #4F5D75;
$fb-blue: #4267B2;

// ==========DECORATION==========

$underline: $yellow solid 3px;
$link-color: $yellow;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

$bg-color-btn: $medium-orange;
$bg-color-fb: $fb-blue;